.chat {
  width: 250px;
  height: 450px;
  border: 1px solid #d8d8fd;
  border-radius: 4px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.input-message {
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #eee;
  font-size: 16px;
  outline: none;
  padding: 4px 10px;
}
