.navelement {
  line-height: 20px;
}

.activelink {
  text-decoration: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

:global(.active).link {
  text-decoration: none;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
