.message {
  margin: 5px 0;
  align-self: left;
  background-color: #5b5bff;
  border-radius: 16px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
  align-self: baseline;
}

.message-list {
  flex: 10 1;
  overflow-y: scroll;
}

.messages {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 10px 10px 0;
}

.message__like {
  width: auto;
  height: 16px;
  padding-left: 10px;
  cursor: pointer;
}
